app/adapter/src/main/java/net/averak/gsync/adapter/dao/dto/base linguist-generated=true
app/adapter/src/main/java/net/averak/gsync/adapter/dao/mapper/base linguist-generated=true
src/main/resources/dao/base linguist-generated=true
protobuf linguist-generated=true
