<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.averak.gsync.adapter.dao.mapper.extend.PlayerStorageEntryMapper">
    <select id="selectByPlayerIdAndGameId" resultType="net.averak.gsync.adapter.dao.dto.base.PlayerStorageEntryDto">
        SELECT *
        FROM gsync_player_storage_entry
        WHERE player_id = #{playerId}
        AND game_id = #{gameId}
        <if test="!exactKeyMatch.isEmpty() || !forwardKeyMatch.isEmpty()">
            AND (
            <foreach item="pattern" index="index" collection="exactKeyMatch" separator="OR">
                key = #{pattern}
            </foreach>

            <if test="!exactKeyMatch.isEmpty() and !forwardKeyMatch.isEmpty()">
                OR
            </if>
            <foreach item="pattern" index="index" collection="forwardKeyMatch" separator="OR">
                STARTS_WITH(key, #{pattern})
            </foreach>
            )
        </if>
        ORDER BY key
    </select>
</mapper>
